APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:llGFA7HTvVRrOTqkFcwOHnZMIeMurOuWkWI22YwvUQw=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
DOMAIN_NAME=http://theaccountant.company

API_KEY=llGFA7HTvVRrOTqkFcwOHnZMIeMurOuWkWI22YwvUQw

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=accountant
DB_USERNAME=root
DB_PASSWORD=123@

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org

MAIL_PORT=587
MAIL_USERNAME=postmaster@info.theaccountant.company
MAIL_PASSWORD=ef3e0ea073bf872d949c04a950b2bd23-41a2adb4-1a4dedb3
MAIL_ENCRYPTION=null

MAILGUN_DOMAIN=info.theaccountant.company
MAILGUN_SECRET=d81e4b5379cff018d33478cd84b25da0-41a2adb4-d3c85164

MAIL_NAME=TheAccountant
MAIL_FROM=contact@accountant.com.mm

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
